#root {
  max-width: 1280px;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

.login-header {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: -1rem;
  color: #282c34;
}

.btn-primary {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 1.5em;
  border-radius: 0.25em;
  background-color: #61dafb;
  color: #282c34;
  text-decoration: none;
  font-weight: bold;
}
